[aws]
aws_region_name = us-west-2

[aliases]
ssh = ssh {CFN_USER}@{MASTER_IP} {ARGS}

[global]
cluster_template = default
update_check = true
sanity_check = true

[cluster 5node4cpu]
key_name = 239Cluster
base_os = alinux
custom_ami = ami-0ce6bd90647ee2bae
# Worker Node Type
compute_instance_type = c4.xlarge
vpc_settings = default
min_vcpus = 20
max_vcpus = 20
scheduler = awsbatch

[cluster 5node8cpu]
key_name = 239Cluster
base_os = alinux
custom_ami = ami-0ce6bd90647ee2bae
# Worker Node Type
compute_instance_type = c4.2xlarge
vpc_settings = default
min_vcpus = 40
max_vcpus = 40
scheduler = awsbatch

[cluster 10node2cpu]
key_name = 239Cluster
base_os = alinux
custom_ami = ami-0ce6bd90647ee2bae
# Worker Node Type
compute_instance_type = c4.large
vpc_settings = default
min_vcpus = 20
max_vcpus = 20
scheduler = awsbatch

[cluster 4node16cpu]
key_name = 239Cluster
base_os = alinux
custom_ami = ami-0ce6bd90647ee2bae
# Worker Node Type
compute_instance_type = c4.xlarge
vpc_settings = default
min_vcpus = 64
max_vcpus = 64
scheduler = awsbatch

[vpc default]
vpc_id = vpc-00a8033a29c989c7d
master_subnet_id = subnet-02ad1d718f8148c63
compute_subnet_id = subnet-0543f36fcca5976f9
use_public_ips = false

