[aws]
aws_region_name = us-west-2

[aliases]
ssh = ssh {CFN_USER}@{MASTER_IP} {ARGS}

[global]
cluster_template = default
update_check = true
sanity_check = true

[cluster x5node4cpu]
key_name = 239Cluster
base_os = alinux
# Worker Node Type
compute_instance_type = c4.xlarge
vpc_settings = default
initial_queue_size = 5
max_queue_size = 5
scheduler = slurm
custom_ami = ami-0c723f7b69aabbf9f

[cluster x5node8cpu]
key_name = 239Cluster
base_os = alinux
# Worker Node Type
compute_instance_type = c4.2xlarge
vpc_settings = default
initial_queue_size = 5
max_queue_size = 5
scheduler = slurm
custom_ami = ami-0c723f7b69aabbf9f

[cluster x10node2cpu]
key_name = 239Cluster
base_os = alinux
# Worker Node Type
compute_instance_type = c4.large
vpc_settings = default
initial_queue_size = 10
max_queue_size = 10
scheduler = slurm
custom_ami = ami-0c723f7b69aabbf9f

[cluster x4node16cpu]
key_name = 239Cluster
base_os = alinux
# Worker Node Type
compute_instance_type = c4.xlarge
vpc_settings = default
initial_queue_size = 4
max_queue_size = 4
scheduler = slurm
custom_ami = ami-0c723f7b69aabbf9f

[vpc default]
vpc_id = vpc-00a8033a29c989c7d
master_subnet_id = subnet-02ad1d718f8148c63
compute_subnet_id = subnet-0543f36fcca5976f9
use_public_ips = false

